<div class="mt-4">
    <h3>
        ĐĂng kí khóa học<h3>
            <form action="/courses/store" method="post">
                <div class="form-group">
                    <label for="name">Tên khóa hoc</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="description">Mô tả khóa hoc</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="form-group">
                    <label for="level">Trình đọ</label>
                    <input type="text" class="form-control" id="level" name="level">
                </div>
                <div class="form-group">
                    <label for="">Video id</label>
                    <input type="text" class="form-control" name="videoId">
                </div>
                <button>submit</button>
            </form>
</div>